{{ $s := parentService . }}{{ $goPath := goPath .File }}{{ $e := entity .File }}func (*Unimplemented{{ $s.Name }}QueryHandler) Validate{{ .Name }}Invariants(ctx context.Context, spec *{{ getSpecTypePackage .File }}Spec, req *{{ .Input.Name }}) (*{{ $e.Name }}SpecEntity, error) {
return &{{ $e.Name }}SpecEntity{}, nil
}
func (*Unimplemented{{ $s.Name }}QueryHandler) {{ .Name }}Handler(ctx context.Context, spec *{{ getSpecTypePackage .File }}Spec, req *{{ .Input.Name }}, entity *{{ $e.Name }}SpecEntity) (*{{ .Output.Name }}, error) {
return &{{ .Output.Name }}{}, nil
}
