{{- $e := entity . -}}{{- $entityName := entityName $e }}{{- $versionName := getPackageVersionName . -}}
export * as {{ $entityName.UpperCamelCase }}{{ $versionName.UpperCamelCase }} from './gen/{{ protoPathWithoutProtoExtension .File }}_pb'
