

export class AdinoSDK {
    private readonly transport: Transport;

    constructor(private readonly options: AdinoSDKOptions) {
        const interceptor = new SpecInterceptor(options);
        const baseUrl = this.options.baseUrl ?? BaseUrl;
        const interceptors: Interceptor[] = [
            ...(this.options.interceptors ?? []),
            interceptor.spec,
        ];
        this.transport = createConnectTransport({
            baseUrl: baseUrl,
            defaultTimeoutMs: this.options.timeoutMs,
            interceptors: interceptors,
        });
    }