{{ $e := entity . }}{{ $s := service . }}{{ $goPackage := goPackage .File }}{{ $version := getPackageVersion .File }}{{ $apiType := getApiOptionsTypeName .File }}{{ $system := domainSystemName2 .File }}
  {{ if $s -}}{{- if $e }}{{ $e.Name.LowerSnakeCase }} "{{ $goPackage}}"{{ end }}{{- end }}
