{{ $s := service . }}{{ $version := getPackageVersion .File }}{{ $apiType := getApiOptionsTypeName .File }}{{ $system := domainSystemName2 .File }}
{
  "name": "sdk-spec-entities-{{ $version }}",
  "version": "0.0.0",
  "description": "Spec Entities SDK version {{ $version }}",
  "license": "Apache-2.0"
}
