{{- $e := entity . -}}{{- $s := service . -}}{{ $entityName := entityName $e }}{{ $apiOptionsType := getApiOptionsTypeName . }}{{ $versionName := getPackageVersionName . }}

message {{ $entityName.UpperCamelCase }}{{ $versionName.UpperCamelCase }} {
  {{ range $e.Fields }}{{ template "entity_field.go.tmpl" . }}{{ end }}
}
