# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/go/oeco-sdk/v2beta/bindings/pushpin/bin
/apps/web/public/docs/v2alpha/.obsidian
/apps/web/public/docs
/.config/spellcheck/spellcheck.yaml