go 1.23.4

toolchain go1.23.4

use (
	// Clients
	// ===================================
	./apps/clients/public/cli/v2alpha/oeco

	// Web
	// ===================================
	./apps/web/public/docs/v2alpha
	./apps/workloads/poc/i18n/v1alpha
	./apps/workloads/poc/wasm/v2alpha/wasm
	./apps/workloads/public/cryptography/v2alpha/encryption
	./apps/workloads/public/dns/v2alpha/dynamic-dns

	// Services
	// ===================================
	./apps/workloads/public/ecosystem/v2alpha/ecosystem
	./apps/workloads/public/mesh/v2alpha/lighthouse

	// Infrastructure
	// ===================================
	./infrastructure/apps/workloads/private
	./infrastructure/apps/workloads/public

	// Plugin libraries
	// ===================================
	./libs/plugins/gnostic-gen-platform
	./libs/plugins/protoc-gen-platform

	// Proof of Concept libraries
	// ===================================

	// Private libraries
	// ===================================

	// Protobuf libraries
	// ===================================
	./libs/protobuf/go/sdk/v2beta

	// Public libraries
	// ===================================
	./libs/public/go/sdk/v2beta

)
