{{ $s := service . }}{{ $version := getPackageVersion .File }}{{ $e := entity .File }}{{ $entityName := entityName $e }}{{ $apiType := getApiOptionsTypeName .File }}{{ $system := domainSystemName2 .File }}
{
  "name": "libs-{{ $apiType }}-go-sdk-{{ $system.LowerCamelCase }}-{{ $version }}",
  "$schema": "../../../../../../../node_modules/nx/schemas/project-schema.json",
  "projectType": "library",
  "sourceRoot": "libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}",
  "implicitDependencies": [
    "proto"
  ],
  "targets": {

    "build": {
      "executor": "nx:run-commands",
      "options": {
        "command": "go build ./...",
        "cwd": "libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"
      }
    },
    "test": {
      "executor": "nx:run-commands",
      "options": {
        "command": "go test -v ./... -cover -race",
        "cwd": "libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"
      }
    },
    "clean": {
      "executor": "nx:run-commands",
      "options": {
        "command": "go clean",
        "cwd": "libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"
      }
    },
    "lint": {
      "executor": "nx:run-commands",
      "options": {
        "commands": ["gofumpt -l .", "golangci-lint run ./..."],
        "parallel": false,
        "cwd": "libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"
      }
    },
    "format": {
      "executor": "nx:run-commands",
      "options": {
        "commands": ["go mod tidy", "gofumpt -l -w .", "golangci-lint run ./... --fix"],
        "parallel": false,
        "cwd": "libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"
      }
    },
    "distribute": {
      "executor": "nx:run-commands",
      "dependsOn": ["build"],
      "outputs": ["{workspaceRoot}/dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"],
      "options": {
        "commands": [
          "mkdir -p dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}",
          "cp LICENSE.md dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/LICENSE.md",
          "cp libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/README.md dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/README.md",
          "goreleaser release --config libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/.goreleaser.yaml --clean"
        ],
        "parallel": false
      }
    },
    "snapshot": {
      "executor": "nx:run-commands",
      "dependsOn": ["build"],
      "outputs": ["{workspaceRoot}/dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"],
      "options": {
        "commands": [
          "mkdir -p dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}",
          "cp LICENSE.md dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/LICENSE.md",
          "cp libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/README.md dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/README.md",
          "goreleaser release --config libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/.goreleaser.yaml --snapshot --clean --skip=sign,sbom"
        ],
        "parallel": false
      }
    },
    "nightly": {
      "executor": "nx:run-commands",
      "dependsOn": ["build"],
      "outputs": ["{workspaceRoot}/dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}"],
      "options": {
        "commands": [
          "mkdir -p dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}",
          "cp LICENSE.md dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/LICENSE.md",
          "cp libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/README.md dist/libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/README.md",
          "goreleaser release --config libs/{{ $apiType }}/go/sdk/gen/{{ $system.LowerCamelCase }}/{{ $version }}/.goreleaser.yaml --nightly --clean"
        ],
        "parallel": false
      }
    }
  },
  "tags": [
    "type:lib",
    "cycle:{{ $apiType }}",
    "language:golang",
    "type:sdk",
    "system:{{ $system.LowerCamelCase }}",
    "version:{{ $version }}",
    "exposure:external"
  ]
}
