
// NewAdinoClient creates and initializes a new AdinoClient with the specified configuration, base URL, and client options.
func NewAdinoClient(opts ...adinoclient.SDKOption) (*AdinoClient, sdkv2betalib.SpecErrorable) {

	return &AdinoClient{
