{{ $configurationName := configurationName . }}
    {{ .Package.ProtoName }}.{{ $configurationName.UpperCamelCase }} {{ $configurationName.LowerSnakeCase }}_{{ getPackageVersion . }} = {{ fieldPosition }};
