{{ $s := parentService . }}{{ $goPath := goPath .File }}{{ $e := entity .File }}Validate{{ .Name }}Invariants(context.Context, *specv2pb.Spec, *{{ .Input.Name }}) (*{{ $e.Name }}SpecEntity, error)
{{ .Name }}Handler(context.Context, *specv2pb.Spec, *{{ .Input.Name }}, *{{ $e.Name }}SpecEntity) (*{{ .Output.Name }}, error)
